@import 'https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:wght@400;500&display=swap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    align-items: center;
    align-content: center;
    font-family: 'Montserrat';
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #fafafa;
}

.background {
    position: absolute;
    z-index: -1;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 8vh;
    border-bottom: 1px solid rgb(219, 219, 219);
    align-items: center;
    align-content: center;
    justify-content: center;
}

header section {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.logo-name {
    font-family: 'Cookie', cursive;
    font-size: 45px;
}

.header-icons {
    display: flex;
}

.header-icons img {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.header-icons a {
    width: 25px;
    height: 25px;
    margin-left: 20px;
}

.user-avatar {
    border-radius: 50%;
    width: 26px;
}

.main-section {
    position: absolute;
    overflow-y: auto;
    top: 54%;
    left: 50%;
    width: 50%;
    height: 87%;

    background-color: #fff;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 15px;

    transform: translate(-50%, -50%);
}

.main-section::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
}

.main-section::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(209, 209, 209);
}

.main-section::-moz-viewport-scroll{
    border-radius: 10px;
    background-color: rgb(209, 209, 209);
}

.main-section::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: #fff;
}


.post-section {
    margin: auto;
    width: 80%;
    height: 90%;
    margin-top: 20px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 7px;
}

ul {
    display: flex;
    flex-direction: column;
}

li {
    width: 90%;
    padding: 15px;
    margin: 10px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 15px;
    max-height: 80%;
}

.post-pic {
    width: 100%;
    max-height: 60vh;
    object-fit: contain;
}

.owner-block {
    display: flex;
    width: 100%;
    height: 13%;
    margin-bottom: 10px;
}

.owner-avatar {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.owner-username {
    margin-left: 12px;
}

.under-post {
    width: 85%;
    margin-top: 10px;
}

.comment-text {
    margin-top: 10px;
    font-size: 14px;
}

.show-comments {
    margin-top: 10px;
    color: gray;
    cursor: pointer;
}

.copy {
    margin-left: 10px;
    cursor: pointer;
}

.like {
    cursor: pointer;
}

.comments {
    width: 85%;
    margin-top: 5px;
    margin-bottom: 15px;
    padding-right: 5px;
    max-height: 100px;
}

.button_more {
    padding: 7px;
    height: 45px;
    font-size: 14px;
    background: #0095f6;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 20px;
    border: none
}


.small-more {
    width: 10px;
    cursor: pointer;
    margin: 10px 0 0 3px;
}

.more-menu {
    background-color: #fff;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

.post-info-textbox {
    padding: 10px;
    max-width: 440px;
    max-height: 60vh;
    min-width: 440px;
    min-height: 180px;
}

.more-menu p {
    width: 100%;
    cursor: pointer;
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);
}

.more-menu p:hover {
    background-color: #f7f7f7;
}

.share {
    width: 24px;
    margin-left: 10px;
    cursor: pointer;
}

.under-comment {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}

.under-post {
    display: flex;
    overflow: hidden;
    width: 85%;
    margin-top: 5px;
    min-height: 24px;
}

.under-post-likes {
    width: 85%;
    overflow: hidden;
    min-height: 26px;
}

.comment-text {
    font-size: 14px;
}
