<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>Вход • Instyle</title>
    <link rel="stylesheet" href="{% static "css/login.css" %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/system/title-logo.png" %}" />
  </head>
  <body>
    <div id="particles-js">
    <section>
      <div class="circle"></div>
      <p class="logo-name">Instyle</p>
      <form action="/login/login/" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Имя пользователя" id="username" required>
        <input type="password" name="password" placeholder="Пароль" id="password" required>
        <button>Войти</button> 
        <a href="https://oauth.yandex.ru/authorize?response_type=code&client_id=a8fc1d2ca1434b31b9e36b8ef23d4f35" class="yandex-link"><img src="{% static "img/system/yandex-button.svg" %}" alt="Вход через Яндекс" class="yandex-button"></a>
      </form> <br>
      <a href="/login/login-forgot-password" style="color: #0095f6; font-size: 12px; background-color: #FFF; text-decoration: none;">Я не помню пароль</a>
      <p class="havent-account">Нет аккаунта? <a href="/signup">Зарегистрироваться</a></p>
    </section>
    </div>



    <script src="{% static "js/particles.js" %}"></script>
    <script src="{% static "js/particles-start.js" %}"></script>
    <script src="{% static "js/sweetalert2.all.min.js" %}"></script>
    {% if err %}
    <script>
      document.getElementById('username').value = '{{user.username}}';
      document.getElementById('password').value = '{{user.password}}';

      Swal.fire({
        title: 'Ошибка!',
        text: '{{err}}',
        icon: 'error',
        confirmButtonText: 'Повторить попытку'
      })
    </script>
{% endif %}

{% if warn %}
    <script>
      document.getElementById('username').value = '{{user.username}}';

      Swal.fire({
        title: 'Внимание!',
        text: '{{warn}}',
        icon: 'warning',
        confirmButtonText: 'Продолжить'
      })
    </script>
{% endif %}

{% if success %}

    <script>
      Swal.fire({
        title: 'Успешно',
        text: '{{success}}',
        icon: 'success',
        confirmButtonText: 'Продолжить'
      }).then((result) => {
          if (result.isConfirmed) window.location.href = '/'
        })
    </script>
{% endif %}

{% if messages %}
  {% for message in messages %}

{% if message.tags == 'success' %}
    <script>
      Swal.fire({
        title: 'Успешно',
        text: '{{message}}',
        icon: 'success',
        confirmButtonText: 'Продолжить'
      })
    </script>
{% endif %}

  {% endfor %}
{% endif %}
  </body>
</html>