<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>Вход • Instyle</title>
    <link rel="stylesheet" href="{% static "css/login.css" %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/system/title-logo.png" %}" />
  </head>
  <body>
    <canvas class="background"></canvas>

    <section>
      <div class="circle"></div>
      <p class="logo-name">Instyle</p>
      <form action="/login" method="post">
        <input type="text" name="username" placeholder="Имя пользователя или эл. адрес" id="username" required>
        <input type="password" name="password" placeholder="Пароль" id="password" required>
        <button>Войти</button>
        <a href="https://oauth.yandex.ru/authorize?response_type=code&client_id=a8fc1d2ca1434b31b9e36b8ef23d4f35" class="yandex-link"><img src="{% static "img/system/yandex-button.svg" %}" alt="Вход через Яндекс" class="yandex-button"></a>
      </form>
      <p class="havent-account">Нет аккаунта? <a href="/signup">Зарегистрироваться</a></p>
    </section>



  <script src = "https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
  <script>
    window.onload = function() {
      const circle = document.querySelector('.circle');
      const colors = ['#F9D423', '#FF4E50', '#BB377D', '#8CA6DB', '#00d2ff', '#FC354C', '#480048', '#FF8008', '#1FA2FF', '#FC3F1D']
      let random_color = Math.floor(Math.random() * ((colors.length-1) + 1))

      circle.style.border = `3px solid ${colors[random_color]}`;
      Particles.init({
          selector: '.background',
          color: colors[random_color],
          connectParticles: 'true',
          maxParticles: 150,
          speed: 0.25,
      });
    };
  </script>

    {% if err %}
    <script src="{% static "js/sweetalert2.all.min.js" %}"></script>
    <script>
      document.getElementById('username').value = '{{user.username}}';
      document.getElementById('password').value = '{{user.password}}';

      Swal.fire({
        title: 'Ошибка!',
        text: '{{err}}',
        icon: 'error',
        confirmButtonText: 'Повторить попытку'
      })
    </script>
{% endif %}

{% if warn %}
<script src="{% static "js/sweetalert2.all.min.js" %}"></script>
    <script>
      document.getElementById('username').value = '{{user.username}}';

      Swal.fire({
        title: 'Внимание!',
        text: '{{warn}}',
        icon: 'warning',
        confirmButtonText: 'Продолжить'
      })
    </script>
{% endif %}

{% if success %}
<script src="{% static "js/sweetalert2.all.min.js" %}"></script>
    <script>
      Swal.fire({
        title: 'Успешно',
        text: '{{success}}',
        icon: 'success',
        confirmButtonText: 'Продолжить'
      }).then((result) => {
          if (result.isConfirmed) window.location.href = '/'
        })
    </script>
{% endif %}
  </body>
</html>