<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>Смена пароля • Instyle</title>
    <link rel="stylesheet" href="{% static "css/login.css" %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/system/title-logo.png" %}" />
    <link rel="stylesheet" href="{% static "css/login-mobile.css" %}" />
  </head>
  <body>
    <section>
      <div class="circle"></div>
      <p class="logo-name">Instyle</p>
      <form action="/login/change-password/" method="post">
        {% csrf_token %}
        <input type="password" name="password" placeholder="Введите новый пароль" required>
        <input type="password" style="display: none;" name="key" value="{{key}}">
        <button>Сменить пароль</button>
        </form>
    </section>
    </div>
    <script src="{% static "js/sweetalert2.all.min.js" %}"></script>
  </body>

  {% if messages %}
  {% for message in messages %}

  {% if message.tags == 'error' %}
    <script>
      Swal.fire({
        title: 'Ошибка!',
        text: '{{message}}',
        icon: 'error',
        confirmButtonText: 'Повторить попытку'
      })
    </script>
{% endif %}

{% if message.tags == 'success' %}
    <script>
      Swal.fire({
        title: 'Успешно',
        text: '{{message}}',
        icon: 'success',
        confirmButtonText: 'Продолжить'
      })
    </script>
{% endif %}

  {% endfor %}
{% endif %}
</html>