<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>Instyle</title>
    <link rel="stylesheet" type="text/css" href="/static/css/settings.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/system/title-logo.png" />
    <link rel="stylesheet" media="all and (orientation:portrait)" href="{% static "css/settings-mobile.css" %}">
  </head>
  <body>
    <header>
      <section>
        <a href="/"><p class="logo-name">Instyle</p></a>
        <div class="header-icons">
          <a href="/"><img src="/static/img/system/home-empty.svg" alt="Главная страница" title="Главная страница"></a>
          <a href="/chat"><img src="/static/img/system/chat-empty.svg" alt="Мессенджер" title="Мессенджер"></a>
          <a href="/post"><img src="/static/img/system/add-empty.svg" alt="Добавить фотографию" title="Добавить фотографию"></a>
          <a href="/recommendation"><img src="/static/img/system/compass-empty.svg" alt="Рекомендуемое" title="Рекомендуемое"></a>
          <a href="/notification"><img src="/static/img/system/notification-empty.svg" alt="Уведомления" title="Уведомления"></a>
          <a href="/user/{{user.username}}">
            {%if profile.avatar_small%}
            <img src="/static/img/small/avatar/{{user.id}}.jpg" alt="{{user.name_lastname}}" title="{{user.name_lastname}}" class="user-avatar" id="upper-avatar">
            {%else%}
            <img src="/static/img/small/avatar/standard.png" alt="{{user.name_lastname}}" title="{{user.name_lastname}}" class="user-avatar" id="upper-avatar">
            {%endif%}
        </a>   
        </div>
      </section>
    </header>
    
    
    <section class="main-section">
      <h1>Настройки</h1>

      <div class="chose-block">
        <div style="border-bottom: 1px #000 solid;" onclick="show_user()" id="button-user"><img src="{% static 'img/system/settings-user.svg' %}"></div>
        <div style="border-bottom: 0px #000 solid;" onclick="show_lock()" id="button-lock"><img src="{% static 'img/system/settings-lock.svg' %}"></div>
        <div style="border-bottom: 0px #000 solid;" onclick="show_password()" id="button-password"><img src="{% static 'img/system/settings-password.svg' %}" ></div>
        <div style="border-bottom: 0px #000 solid;" onclick="show_vk()" id="button-vk"><img src="{% static 'img/system/settings-vk.svg' %}" ></div>
      </div>

      <div class="under-chose-block">
        <div> Профиль </div>
        <div> Конфиденциальность </div>
        <div> Пароль </div>
        <div> Вконтакте </div>
      </div>

      <div class="settings-block">
        
        <div id="div-user">
        <form action="/settings/change-avatar" enctype="multipart/form-data" method="post">
          {% csrf_token %}
          <div class="name-section">
            <h3>Изменить аватар</h3>
          </div>
          {%if profile.avatar_big%}
            <img src="/static/img/big/avatar/{{user.id}}.jpg" alt="{{user.name_lastname}}" title="{{user.name_lastname}}" class="user-big-avatar" id="settings-avatar">
          {%else%}
            <img src="/static/img/big/avatar/standard.png" alt="{{user.name_lastname}}" title="{{user.name_lastname}}" class="user-big-avatar" id="settings-avatar">
          {%endif%}

          {{form.as_p}}
          <button>Сохранить</button>
        </form>
      

        <form action="/settings/edit-profile" method="post">
          {% csrf_token %}
          <div class="name-section">
            <h3>Редактировать профиль</h3>
          </div>
          
          <div class="block-change">
              <h5>Ваше имя</h5>
              <input type="text" value="{{user.name_lastname}}" name="name_lastname" required>
          </div>

          <div class="block-change">
            <h5>Ваше имя пользователя</h5>
            <input type="text" value="{{user.username}}" name="username" required>
          </div>

          <div class="block-change">
            <h5>О себе</h5>
            <textarea name="bio" value="{{profile.bio}}">{{profile.bio}}</textarea>
          </div>

          <div class="block-change">
            <h5>Ваш эл. адрес</h5>
            <input type="text" value="{{user.email}}" name="email" required>
          </div>

          <button>Сохранить</button>
        </form>

        <button style="margin-bottom: 20px; background:#ff3535;" onclick="window.location='/login'">Выход</button>
      <button style="margin-bottom: 20px; background:#ff3535;" onclick="delete_acc()">Удалить аккаунт</button>
      </div>


      <div id="div-lock"  style="display: none;">

        <div class="name-section">
          <h3>Список близких друзей</h3>
        </div>
        <div class="block-close-friends">
          <h4>Поиск</h4>
          <input type="text" placeholder="Введите никнейм пользователя" class="input-find" id="searchInput">
          <a href="/user/{{user.username}}" class="div-found-user" style="display: none;" id="divUser">
            <img src="#" class="found-avatar" id="imgUser">
            <p class="found-user-username" id="usernameUser"></p>
            
            <form action="#" method="post" id="form-search-add">
              {% csrf_token %}
              <button>Добавить / Удалить</button>
            </form>
          </a>


          <ul>
            {%if close_friends%}
            {%for this in close_friends%}
            <li>
              <a href="/user/{{this.friend.username}}" class="friend-block">
                {%if this.avatar%}
                  <img src="/static/img/small/avatar/{{this.friend.id}}.jpg" alt="{{this.friend.name_lastname}}" title="{{this.friend.name_lastname}}" class="notif-avatar">
                {%else%}
                  <img src="/static/img/small/avatar/standard.png" alt="{{this.friend.name_lastname}}" title="{{this.friend.name_lastname}}" class="notif-avatar">
                {%endif%}
                <p class="found-user-username">{{this.friend.username}}</p>
              </a> 
              <form action="/user/close/{{this.friend.id}}/" method="post" style="margin: 0px;">
                {% csrf_token %}
                <button>Удалить</button>
              </form>
              
            </li>
            {%endfor%}
            {%endif%}

            {%if followers%}
            {%for this in followers%}
            <li>
              
              <a href="/user/{{this.follower.username}}" class="friend-block">
                {%if this.avatar%}
              <img src="/static/img/small/avatar/{{this.friend.id}}.jpg" alt="{{this.friend.name_lastname}}" title="{{this.friend.name_lastname}}" class="notif-avatar">
            {%else%}
              <img src="/static/img/small/avatar/standard.png" alt="{{this.friend.name_lastname}}" title="{{this.friend.name_lastname}}" class="notif-avatar">
            {%endif%}
                <p class="found-user-username">{{this.follower.username}}</p>
              </a> 
              
              <form action="/user/close/{{this.follower.id}}/" method="post">
                {% csrf_token %}
                <button>Добавить</button>
              </form>
              
            </li>
            {%endfor%}
            {%endif%}
          </ul>
        </div>


        <div class="name-section">
          <h3>Приватность</h3>
        </div>
        <div class="block-close-friends">
          <form action="change-privacy" method="post">
            {% csrf_token %}
            <p class="name-privacy">Кто может писать личные сообщения:</p> 
            <select name="message-visibility" class="visibility">
              {%if user.message_visibility == 'all'%}
              <option value="all">Все пользователи</option>
              <option value="follower">Только подписчики</option>
              <option value="close_friend">Только близкие друзья</option>
              <option value="nobody">Никто</option>
              {%endif%}

              {%if user.message_visibility == 'follower'%}
              <option value="follower">Только подписчики</option>
              <option value="all">Все пользователи</option>
              <option value="close_friend">Только близкие друзья</option>
              <option value="nobody">Никто</option>
              {%endif%}

              {%if user.message_visibility == 'close_friend'%}
              <option value="close_friend">Только близкие друзья</option>
              <option value="all">Все пользователи</option>
              <option value="follower">Только подписчики</option>
              <option value="nobody">Никто</option>
              {%endif%}

              {%if user.message_visibility == 'nobody'%}
              <option value="nobody">Никто</option>
              <option value="all">Все пользователи</option>
              <option value="follower">Только подписчики</option>
              <option value="close_friend">Только близкие друзья</option>
             
              {%endif%}
            </select> <br>

            <button>Сохранить</button>
          </form>
        </div>


        <div class="name-section">
          <h3>Черный список</h3>
        </div>
        <div class="block-close-friends">
          <ul>
            {%for this in black_list%}
            <li>
              <a href="/user/{{this.blocked_user.username}}" class="friend-block">
                {%if this.avatar%}
                  <img src="/static/img/small/avatar/{{this.blocked_user.id}}.jpg" alt="{{this.blocked_user.name_lastname}}" title="{{this.blocked_user.name_lastname}}" class="notif-avatar">
                {%else%}
                  <img src="/static/img/small/avatar/standard.png" alt="{{this.blocked_user.name_lastname}}" title="{{this.blocked_user.name_lastname}}" class="notif-avatar">
                {%endif%}
                <p class="found-user-username">{{this.blocked_user.username}}</p>
              </a> 

              <form action="/user/block/{{this.blocked_user.id}}/" method="post">
                {% csrf_token %}
                <button class="follow-button">Разблокировать</button>
              </form>
              
            </li>
            {%endfor%}
            {%if not black_list%}
            <div class="empty">Черный список пуст</div>
            {%endif%}
          </ul>
        </div>

        
       
      </div>


      <div id="div-password"  style="display: none;">
        <form action="/settings/change-password" method="post">
          {% csrf_token %}
          <div class="name-section">
            <h3>Сменить пароль</h3>
          </div>
          
          <div class="block-change">
              <h5>Старый пароль</h5>
              <input type="password" name="old-pass" required>
          </div>

          <div class="block-change">
            <h5>Новый пароль</h5>
              <input type="password" name="new-pass" required>
          </div>

          <div class="block-change">
            <h5>Подтвердите новый пароль</h5>
              <input type="password" name="new-pass2" required>
          </div>

          <a href="/settings/forgot-password" style="color: #0095f6; font-size: 14px;">Я не помню пароль</a> <br>
          <button class="last-element">Изменить</button>
        </form>
      </div>

      <div id="div-vk" style="display: none;">
        <a href="https://oauth.vk.com/authorize?client_id=51622458&redirect_uri={{base_url}}/post/get_vk_token?token={{token}}&scope=photos,offline&response_type=token"><img src="/static/img/system/export-vk.svg" class="export-vk"></a> <br>
    </div>

      </div>
      
     
    </section>

  </script>
  <script src="/static/js/sweetalert2.all.min.js"></script>
  <script>
    const input_image = document.getElementById('id_photo');
    const settings_avatar = document.getElementById('settings-avatar');

  input_image.onchange = () => {
    const [file] = input_image.files
    if (file) settings_avatar.src = URL.createObjectURL(file)
  }
  </script>

  <script>
      let button_user = document.getElementById('button-user')
      let button_lock = document.getElementById('button-lock')
      let button_password = document.getElementById('button-password')
      let button_vk = document.getElementById('button-vk')
      let div_user = document.getElementById('div-user')
      let div_lock = document.getElementById('div-lock')
      let div_password = document.getElementById('div-password')
      let div_vk = document.getElementById('div-vk')

      function show_user() {
        button_user.style = 'border-bottom: 1px #000 solid;'
        button_lock.style = 'border-bottom: 0px #000 solid;'
        button_password.style = 'border-bottom: 0px #000 solid;'
        button_vk.style = 'border-bottom: 0px #000 solid;'
        
        
        div_user.style = 'display: block;'
        div_lock.style = 'display: none;'
        div_password.style = 'display: none;'
        div_vk.style = 'display: none;'
      }

      function show_lock() {
        button_user.style = 'border-bottom: 0px #000 solid;'
        button_lock.style = 'border-bottom: 1px #000 solid;'
        button_password.style = 'border-bottom: 0px #000 solid;'
        button_vk.style = 'border-bottom: 0px #000 solid;'
        
        
        div_user.style = 'display: none;'
        div_lock.style = 'display: block;'
        div_password.style = 'display: none;'
        div_vk.style = 'display: none;'
      }

      function show_password() {
        button_user.style = 'border-bottom: 0px #000 solid;'
        button_lock.style = 'border-bottom: 0px #000 solid;'
        button_password.style = 'border-bottom: 1px #000 solid;'
        button_vk.style = 'border-bottom: 0px #000 solid;'
        
        
        div_user.style = 'display: none;'
        div_lock.style = 'display: none;'
        div_password.style = 'display: block;'
        div_vk.style = 'display: none;'
      }

      function show_vk() {
        button_user.style = 'border-bottom: 0px #000 solid;'
        button_lock.style = 'border-bottom: 0px #000 solid;'
        button_password.style = 'border-bottom: 0px #000 solid;'
        button_vk.style = 'border-bottom: 1px #000 solid;'
        
        
        div_user.style = 'display: none;'
        div_lock.style = 'display: none;'
        div_password.style = 'display: none;'
        div_vk.style = 'display: block;'
      }
  </script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
<script>
  $("#searchInput").on('input', function() {
    const searchInput = document.getElementById('searchInput');
    const divUser = document.getElementById('divUser');
    const imgUser = document.getElementById('imgUser');
    const usernameUser = document.getElementById('usernameUser');
    const form_search_add = document.getElementById('form-search-add');

    divUser.style = "display: none;";
    if (searchInput.value.length > 1 && searchInput.value.length <= 20) {
      fetch(`${window.location.origin}/recommendation/find/${searchInput.value}`, {
        method: "get",
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
      })
      .then(response => response.json())
      .then(result => {
        result = result.user
        if (result == undefined) return
        divUser.style = "display: flex;";
        divUser.href = `/user/${result.username}`;
        if (result.avatar) imgUser.src = `/static/img/small/avatar/${result.id}.jpg`;
        else imgUser.src = `/static/img/small/avatar/standard.png`;
        form_search_add.action = `/user/close/${result.id}/`
        usernameUser.textContent = result.username;
      })
    }
  });
</script>

{% if messages %}
  {% for message in messages %}

  {% if message.tags == 'error' %}
    <script>
      Swal.fire({
        title: 'Ошибка!',
        text: '{{message}}',
        icon: 'error',
        confirmButtonText: 'Повторить попытку'
      })
    </script>
{% endif %}

{% if message.tags == 'success' %}
    <script>
      Swal.fire({
        title: 'Успешно',
        text: '{{message}}',
        icon: 'success',
        confirmButtonText: 'Продолжить'
      })
    </script>
{% endif %}

  {% endfor %}
{% endif %}

<script>
  function delete_acc() {
    Swal.fire({
      position: 'top',
      icon: 'warning',
      title: 'Вы действительно хотите удалить свой аккаунт без возможности восстановления?',
      confirmButtonText: 'Да',
      showCancelButton: true,
      cancelButtonText: 'Нет',
      confirmButtonColor: '#ff3535',
      cancelButtonColor: '#00cc00',
    }).then((result) => {
      if (result.isConfirmed) {
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        fetch(`${window.location.origin}/settings/delete`, {
          method: "post",
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
          },
        }).then(response => response)
          .then(result => { 
              window.location.href = `${window.location.origin}/login/`
          })
      }
      
      });
  }
</script>

  </body>
</html>