<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>Instyle</title>
    <link rel="stylesheet" href="{% static "css/chat.css" %}" />
    <link rel="shortcut icon" type="image/x-icon"  href="{% static "img/system/title-logo.png" %}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
    <link rel="stylesheet" media="all and (orientation:portrait)" href="{% static "css/chat-mobile.css" %}">
  </head>
  <body>
    <header>
      <section>
        <a href="/"><p class="logo-name">Instyle</p></a>
        <div class="header-icons">
          <a href="/"><img src="{% static "img/system/home-empty.svg" %}" alt="Главная страница" title="Главная страница"></a>
          <a href="/chat"><img src="{% static "img/system/chat-fill.svg" %}" alt="Мессенджер" title="Мессенджер"></a>
          <a href="/post"><img src="{% static "img/system/add-empty.svg" %}" alt="Добавить фотографию" title="Добавить фотографию"></a>
          <a href="/recommendation"><img src="{% static "img/system/compass-empty.svg" %}" alt="Рекомендуемое" title="Рекомендуемое"></a>
          <a href="/notification"><img src="{% static "img/system/notification-empty.svg" %}" alt="Уведомления" title="Уведомления"></a>
          <a href="/user/{{user.username}}">
            {%if profile.avatar_small%}
            <img src="/static/img/small/avatar/{{user.id}}.jpg" alt="{{user.name_lastname}}" title="{{user.name_lastname}}" class="user-avatar" id="upper-avatar">
            {%else%}
            <img src="/static/img/small/avatar/standard.png" alt="{{user.name_lastname}}" title="{{user.name_lastname}}" class="user-avatar" id="upper-avatar">
            {%endif%}
        </a>
        </div>
      </section>
    </header>
    <section class="main-section">
      
      <ul class="chats" id="outputChats">

        <section class="find-section">
          <h2>Поиск</h2>
          <input type="text" placeholder="Введите никнейм пользователя" class="input-find" id="searchInput">
            <div href="#" class="div-found-user" style="display: none;" id="divUser">
              <img src="#" class="found-avatar" id="imgUser">
              <p class="found-user-username" id="usernameUser"></p>
            </div>
        </section>
        
        {% for chat_room in chats %}
        <li class="div-found-user" id_dialog="{{ chat_room.room_identifier }}" username="{{ chat_room.username }}" id="{{ chat_room.user_id }}">
          {% if chat_room.avatar %}
            <img src="/static/img/small/avatar/{{chat_room.user_id}}.jpg" class="found-avatar" id="imgUser">
          {% else %}
            <img src="/static/img/small/avatar/standard.png" class="found-avatar" id="imgUser">
          {% endif %}
          <p class="found-user-username" id="usernameUser">{{ chat_room.username }}</p>
        </li>
      {% endfor %}
      
        {%if not chats%}
        <p class="start-chat">Начните с кем-то общаться!</p>
        {%endif%}
      </ul>

      <div class="chatBox" id="chatBox">
          <div class="chatInfo" id="chatInfo">
              <div class="chatInfoBlock">
                <img src="/static/img/system/back.svg" class="backArrow" onclick="mobile_back()" id="backArrow" style="display: none;">
                  <a href="/user/{{interlocutor.username}}" id="nameHref"><p class="chatInfoName" id="chatInfoName">{{interlocutor.name_lastname}}</p></a>
                  <div>
                      <div id="typing"></div>
                      <div class="onlineBlock"></div>
                      <p id="status" class="chatOnlineText"></p>
                  </div>
              </div>

              <a href="/user/{{interlocutor.username}}" id="imgHref">
              {%if interlocutor.avatar_small%}
                <img src="/static/img/small/avatar/{{interlocutor.id}}.jpg" alt="{{interlocutor.name_lastname}}" title="{{interlocutor.name_lastname}}" class="chatInfoImg" id="chatInfoImg" style="display: none;">
              {%else%}
                <img src="/static/img/small/avatar/standard.png" alt="{{interlocutor.name_lastname}}" title="{{interlocutor.name_lastname}}" class="chatInfoImg" id="chatInfoImg" style="display: none;">
              {%endif%}
              </a>
          </div>

          <div class="messageBox" id="messageBox">
              <ul class="outputmessages" id="outputMessages">
                {%for this in messages%}
                {%if im_sender%}
                  <li class="message own" id_message="{{this.id}}">
                {%else%}
                  <li class="message interlocutor" id_message="{{this.id}}"></li>
                {%endif%}
                      <p>{{this.content}}</p>
                      <date style="color: #000">{{this.sent_date}}</date>
                  </li>
                {%endfor%}
              </ul>

                <div class="sticker-menu" id="sticker-menu" style="display: none;">
        
                </div>
          </div>

          <div class="inputBox">
              <input id="message" placeholder="Введите сообщение..." class="inputText" autocomplete="off">
              <img class="sticker-button" id="sticker-button" src='/static/img/system/sticker.svg' title="Стикеры">
              <img class="imgSend" id="send" src='/static/img/system/chat-send.svg'>
          </div>
      </div>
  </section>

  <script src="/static/js/stickers-fill.js"></script>
  <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
  <script src="/static/js/messenger_constants.js"></script>
  <script>
    ID = '{{user.id}}'
  </script>
  <!-- <script src="/static/js/sockets.js"></script> -->

  <!-- <script src="/static/js/parseDate.js"></script> -->
  <script src="/static/js/sweetalert2.all.min.js"></script>

  <script>
  $("#divUser").on('click', function(element) {
    let username = element.currentTarget.attributes.username.value;
    chatInfoImg.style = "display: box"
    nameHref.href = `/user/${username}`
    imgHref.href = `/user/${username}`

    img_el = element.currentTarget.getElementsByTagName('img');
    chatInfoImg.src = img_el[0].src
    
    let id_user = element.currentTarget.attributes.id.value;
    
    chatInfoName.innerText = username

    writeTo = id_user;


    const roomIdentifier = element.currentTarget.getAttribute('id_dialog');
    // Establish WebSocket connection with the chat room using the room identifier
    establishWebSocketConnection(roomIdentifier);


    fetch(`/chat/get-messages/${id_user}`, {
      method: "get",
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
    })
    .then(response => response.json())
    .then(result => {
      addMessages(result, id_user)
    })

    if(window.innerHeight > window.innerWidth){
      outputChats.style = 'display: none;'
      chatBox.style = 'display: unset;'
      backArrow.style = 'display: unset;'
    }
    
    messageInput.click();
    });
  </script>



  <script>

    function mobile_back() {
      outputChats.style = 'display: unset;'
      chatBox.style = 'display: none;'
    }

    let roomIdentifier
    
    $('ul').on('click','li',function(element){
    let username = element.currentTarget.attributes.username.value;
    chatInfoImg.style = "display: box"
    nameHref.href = `/user/${username}`
    imgHref.href = `/user/${username}`

    img_el = element.currentTarget.getElementsByTagName('img');
    chatInfoImg.src = img_el[0].src
    
    let id_user = element.currentTarget.attributes.id.value;
    
    chatInfoName.innerText = username

    writeTo = id_user;

    roomIdentifier = element.currentTarget.getAttribute('id_dialog');

    // Establish WebSocket connection with the chat room using the room identifier
    establishWebSocketConnection(roomIdentifier);

    if(window.innerHeight > window.innerWidth){
      outputChats.style = 'display: none;'
      chatBox.style = 'display: unset;'
      backArrow.style = 'display: unset;'
    }

    fetch(`/chat/get-messages/${id_user}`, {
      method: "get",
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
    })
    .then(response => response.json())
    .then(result => {
      addMessages(result, id_user)
    })
    
    messageInput.click();
    });
    
      </script>
    
      <script>
        USERNAME = '{{user.username}}'
        $("#searchInput").on('input', function() {
          const searchInput = document.getElementById('searchInput');
          // const divUser = document.getElementById('divUser');
          const imgUser = document.getElementById('imgUser');
          const usernameUser = document.getElementById('usernameUser');
    
          divUser.style = "display: none;";
          if (searchInput.value.length > 1 && searchInput.value.length <= 20) {
            fetch(`${window.location.origin}/recommendation/find/${searchInput.value}`, {
              method: "get",
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              },
            })
            .then(response => response.json())
            .then(result => {
              result = result.user
              if (result == undefined) return
              if (USERNAME == result.username) return
              divUser.style = "display: flex;";
              divUser.id = `${result.id}`;
              divUser.setAttribute('username', `${result.username}`)
              if (result.avatar) imgUser.src = `/static/img/small/avatar/${result.id}.jpg`;
              else imgUser.src = `/static/img/small/avatar/standard.png`;
              usernameUser.textContent = result.username;
            })
          }
        });
      </script>


  {%if interlocutor%}
  <script>
    outputMessages.scrollTop = outputMessages.scrollHeight
    activeConversation = 'none';
    idInterlocutor = '{{interlocutor.id}}';
    status.textContent = wasOnline('{{interlocutor.online}}')
    
  </script>
  {%endif%}

  <script>
    stickerButton.onclick = () => {
      if (stickerMenu.style.display == "none") stickerMenu.style = "display: block;"
      else stickerMenu.style = "display: none;"
    }
  </script>

<script src="/static/js/messenger.js"></script>

<script>
let socket

function establishWebSocketConnection(roomIdentifier) {
  const socketProtocol = window.location.protocol === 'https:' ? 'wss:' : 'ws:';
  const socketURL = `${socketProtocol}//${window.location.host}/ws/socket-server/`;

  socket = new WebSocket(socketURL);
  
  // Handle WebSocket events
  socket.onopen = () => {
    console.log('WebSocket connection established');
    ACTIVESEND = true;
  };
  
  socket.onmessage = (event) => {
    // Handle incoming messages from the server
    const data = JSON.parse(event.data);
    if (data.type == 'message') get_message(data)
    else CHANNEL = data.channel
  };
  
  socket.onclose = () => {
    console.log('WebSocket connection closed');
    ACTIVESEND = false;
    establishWebSocketConnection(roomIdentifier);
  };
  
  socket.onerror = (error) => {
    console.error('WebSocket error:', error);
    ACTIVESEND = false;
  };
}
  
</script>


  </body>
</html>