<!DOCTYPE html>
<html lang="ru">
  {% load static%}
  <head>
    <meta charset="utf-8" />
    <title>Instyle</title>
    <link rel="stylesheet" href="{% static "css/post-img.css" %}" />
    <link rel="shortcut icon" type="image/x-icon"  href="{% static "img/system/title-logo.png" %}" />
  </head>
  <body>
    <header>
      <section>
        <a href="/"><p class="logo-name">Instyle</p></a>
        <div class="header-icons">
          <a href="/"><img src="{% static "img/system/home-empty.svg" %}" alt="Главная страница" title="Главная страница"></a>
          <a href="/chat"><img src="{% static "img/system/chat-empty.svg" %}" alt="Мессенджер" title="Мессенджер"></a>
          <a href="/post"><img src="{% static "img/system/add-empty.svg" %}" alt="Добавить фотографию" title="Добавить фотографию"></a>
          <a href="/recommendation"><img src="{% static "img/system/compass-empty.svg" %}" alt="Рекомендуемое" title="Рекомендуемое"></a>
          <a href="/notification"><img src="{% static "img/system/notification-empty.svg" %}" alt="Уведомления" title="Уведомления"></a>
          <a href="/user/{{user.username}}">
            {%if profile.avatar_small%}
            <img src="/static/img/small/avatar/{{user.id}}.jpg" alt="{{user.name_lastname}}" title="{{user.name_lastname}}" class="user-avatar" id="upper-avatar">
            {%else%}
            <img src="/static/img/small/avatar/standard.png" alt="{{user.name_lastname}}" title="{{user.name_lastname}}" class="user-avatar" id="upper-avatar">
            {%endif%}
        </a></div>
      </section>
    </header>
    <div id="particles-js">
    
    <section class="main-section" id="one-section">
      <div class="photo-section">
        <div class="owner-block">
          <a href="/user/{{post.user.username}}" style="display: flex;">
            {%if owner_profile.avatar_big%}
            <img src="/static/img/small/avatar/{{post.user.id}}.jpg" alt="{{user.name_lastname}}" title="{{user.name_lastname}}" class="user-avatar owner-avatar" id="upper-avatar">
            {%else%}
            <img src="/static/img/small/avatar/standard.png" alt="{{user.name_lastname}}" title="{{user.name_lastname}}" class="user-avatar owner-avatar" id="upper-avatar">
            {%endif%}
            <p class="owner-username">{{post.user.username}}</p>   
          </a>
          <div style="display: flex;">
            <p class="date-of-post">{{post.date_post}}</p>
            <img src="{% static 'img/system/more.svg' %}" title="Ещё" class="more" onclick="more()">
          </div>
         
        </div>

        {%if post.mp4%}
          <video class="post-pic" controls="controls">
            <source src="{% static 'img/video/{{post.user.id}}/{{post.id_post}}.mp4' %}" type='video/mp4;'>
          </video>
        {%else%}
          <img src="/static/img/big/post/{{post.user.id}}/{{post.id_post}}.jpg" onclick="open_img(this)" style="cursor: pointer;" class="post-pic">
        {%endif%}
      </div>

    {%if user.id == post.user.id%}
      {%if post.visibility == 'all'%}
        <p class="show-visibility">Область видимости: Общий доступ</p>
      {%endif%}
      {%if post.visibility == 'close_friend'%}
        <p class="show-visibility">Область видимости: Доступ для близких друзей</p>
      {%endif%}
      {%if post.visibility == 'link'%}
        <p class="show-visibility">Область видимости: Доступ по ссылке</p>
      {%endif%}
      {%if post.visibility == 'follower'%}
        <p class="show-visibility">Область видимости: Доступ для подписчиков</p>
      {%endif%}
      {%if post.visibility == 'nobody'%}
        <p class="show-visibility">Область видимости: Пост архивирован</p>
      {%endif%}
    {%endif%}

      <div class="under-post-buttons">
        {%if user.like%}
            <img src="{% static 'img/system/liked.svg' %}" id="like_button" title="Нравится" class="like" user_liked="true" onclick="like(this, '{{post.id_post}}')">
        {%else%}
            <img src="{% static 'img/system/notification-empty.svg' %}" id="like_button" title="Нравится" class="like" user_liked="false" onclick="like(this, '{{post.id_post}}')">
        {%endif%}

        {%if post.hide_like == False%}
            <p class="comment-text" style="margin: 0 0 0 10px;"><span style="font-weight: 500; " id="likes_{{post.id_post}}" likes="{{post.interaction.like_count}}" >Отметок нравится: {{post.interaction.like_count}}</span></p>
        {%else%}
        <p class="comment-text" style="margin: 0 0 0 10px;"><span style="font-weight: 500; " id="likes_{{post.id_post}}" >Нравится некоторым людям</span></p>
        {%endif%}
      </div>

       <div class="comments">
          {%if post.comment%}
            <p class="comment-text">
              <a href="/user/{{user.username}}">
                <span style="font-weight: 500;">{{post.user.username}}:</span>
              </a> 
              {{post.comment}}
            </p>
          {%endif%}

          {%if post.hide_comment == False or user.id == post.user.id%}
            <div class="under-comment">
            {%for this in post.interaction.info%}
              <div style="display: flex;">
              <p class="comment-text"><a href="/user/{{this.user.username}}"><span style="font-weight: 500;">{{this.user.username}}:</span></a> {{this.comment_text}}</p>
              {%if this.user.id == user.id%}
                <img src="{% static 'img/system/more.svg' %}" title="Ещё" class="small-more" id_post="{{this.id}}" comment="{{this.comment_text}}"  onclick="smallMore(this)">
              {%else%}
                {%if user.id == post.user.id%}
                  <img src="{% static 'img/system/more.svg' %}" title="Ещё" class="small-more" id_post="{{this.id}}" comment="{{this.comment_text}}" onclick="ownerSmallMore(this)">
                {%endif%}
              {%endif%}
              </div>
            {%endfor%}
            </div>
          {%endif%}


        
        </div>

        

      {%if post.hide_comment == False%}
      <div class="input-box">
        <input type="text" class="input-text" id="input_comment" placeholder="Оставить комментарий...">
        <img class="imgSend" onclick="send_comment('{{post.id_post}}')" src="{% static 'img/system/send.svg' %}">
      </div>
      {%endif%}
    </div> 
  </section>

    

    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static "js/particles.js" %}"></script>
    <script src="{% static "js/particles-start.js" %}"></script>
    {% csrf_token %}

    <script>
      function open_img(el) {
        
        if (+el.width > +el.height) {
          Swal.fire({
          imageUrl: '/static/img/big/post/{{post.user.id}}/{{post.id_post}}.jpg',
          width: '70%',
          showConfirmButton: false,
        })
        } else {
          Swal.fire({
          imageUrl: '/static/img/big/post/{{post.user.id}}/{{post.id_post}}.jpg',
          heidth: '90%',
          showConfirmButton: false,
        })
        }
        
      }
    </script>


    <script>
      edit_comment_val = ''
      id_post_val = ''
      function like (el, id_img, user_liked) {
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        fetch(`${window.location.origin}/post/like/${id_img}/`, {
          method: "post",
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
          },
        });
        const count = document.getElementById(`likes_${id_img}`);
        const hide_like = '{{post.hide_like}}'
        if (el.src.indexOf('notification') > -1) {
          el.src = "/static/img/system/liked.svg";

          if (hide_like == 'False')
            count.attributes.likes.value = ++count.attributes.likes.value;
        }
        else {
          el.src = "/static/img/system/notification-empty.svg";
          if (hide_like == 'False')
            count.attributes.likes.value = --count.attributes.likes.value;
          
        }
        if (hide_like == 'False')
          count.innerHTML = `Отметок нравится: ${count.attributes.likes.value}`;
        
      }

      function close_menu() {
        Swal.fire({
              position: 'top',
              showConfirmButton: false,
              timer: 1
            })
          }
    
      function edit_comment(comment, id_img) {
        Swal.fire({
              position: 'top',
              title: 'Редактирование описания',
              html: `<textarea type="text" class="post-info-textbox" placeholder="Напишите описание к записи..." id="new-comment" name="new-comment">{{post.comment}}</textarea> <br>`,
              showConfirmButton: true,
              confirmButtonText: 'Сохранить',
              confirmButtonColor: 'rgb(0, 204, 0)'
            }).then((result) => {
    
     if (result.isConfirmed) {
      
       comment = document.getElementById('new-comment').value
       if (comment.length < 2 || comment.length > 1500)  {
          Swal.fire({
             position: 'top',
             icon: 'error',
             title: 'Длина описания слишком короткая или слишком длинная',
             showConfirmButton: true,
           })
           return
        }
       const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
       fetch(`${window.location.origin}/post/edit/${id_img}/`, {
         method: "post",
         body: JSON.stringify({'comment': comment}),
         headers: {
           'Accept': 'application/json',
           'Content-Type': 'application/json',
           'X-CSRFToken': csrftoken,
         },
       }).then(response => response)
         .then(result => { 
           Swal.fire({
             position: 'top',
             icon: 'success',
             title: 'Описание было изменено',
             showConfirmButton: false,
             timer: 1000
           }).then(() => {
             window.location.href = `${window.location.origin}/post/${id_img}/`
           })
         })
     }
     
     });
      }

      function edit_post_comment() {
        Swal.fire({
              position: 'top',
              title: 'Редактирование комментария',
              html: `<textarea type="text" class="post-info-textbox" placeholder="Напишите комментарий..." id="new-under-comment" name="new-under-comment">${edit_comment_val}</textarea> <br>`,
              showConfirmButton: true,
              confirmButtonText: 'Сохранить',
              confirmButtonColor: 'rgb(0, 204, 0)'
            }).then((result) => {

     if (result.isConfirmed) {
       comment = document.getElementById('new-under-comment').value
       if (comment.length < 2 || comment.length > 1500)  {
          Swal.fire({
             position: 'top',
             icon: 'error',
             title: 'Длина комментария слишком короткая или слишком длинная',
             showConfirmButton: true,
           })
           return
        }
       const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
       fetch(`${window.location.origin}/post/edit-comment/${id_post_val}/`, {
         method: "post",
         body: JSON.stringify({'comment': comment}),
         headers: {
           'Accept': 'application/json',
           'Content-Type': 'application/json',
           'X-CSRFToken': csrftoken,
         },}).then(response => response)
         .then(result => { 
           Swal.fire({
             position: 'top',
             icon: 'success',
             title: ' Комментарий был изменен',
             showConfirmButton: false,
             timer: 1000
           }).then(() => {
             window.location.href = `${window.location.origin}/post/{{post.id_post}}/`
           })
         })
     }
     
     });
    }
      
      function copy (){
        navigator.clipboard.writeText(window.location.href)
          .then(() => {
             Swal.fire({
              position: 'top',
              icon: 'success',
              title: 'Ссылка на пост была скопирована',
              showConfirmButton: false,
              timer: 1000
            })
          })
          .catch(err => {
              Swal.fire({
                position: 'top',
                icon: 'error',
                title: 'Упс, что-то пошло не по плану. Сообщите об этом нам',
                showConfirmButton: false,
                timer: 2000
              })
          });
      }
    
      function send_comment(id_img) {
        const input_comment = document.getElementById('input_comment').value
        if (input_comment.length < 2 || input_comment.length > 1500) {
          Swal.fire({
             position: 'top',
             icon: 'error',
             title: 'Длина комментария слишком короткая или слишком длинная',
             showConfirmButton: true,
           })
           return
        }
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        fetch(`${window.location.origin}/post/comment/${id_img}/`, {
         method: "post",
         body: JSON.stringify({'comment': input_comment}),
         headers: {
           'Accept': 'application/json',
           'Content-Type': 'application/json',
           'X-CSRFToken': csrftoken,
         },
       }).then(response => response)
         .then(result => { 
           Swal.fire({
             position: 'top',
             icon: 'success',
             title: 'Комментарий оставлен',
             showConfirmButton: false,
             timer: 1000
           }).then(() => {
             window.location.href = `${window.location.origin}/post/${id_img}/`
           })
         })
      }
    
      function delete_post_comment(id_comment) {
        Swal.fire({
      position: 'top',
      icon: 'warning',
      title: 'Вы действительно хотите удалить этот комментарий?',
      confirmButtonText: 'Да',
      showCancelButton: true,
      cancelButtonText: 'Нет',
      confirmButtonColor: '#ff3535',
      cancelButtonColor: '#00cc00',
    }).then((result) => {
     
      if (result.isConfirmed) {
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        fetch(`${window.location.origin}/post/delete-comment/${id_comment}/`, {
          method: "post",
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
          },
        }).then(response => response)
          .then(result => { 
            Swal.fire({
              position: 'top',
              icon: 'success',
              title: 'Комментарий был удален',
              showConfirmButton: false,
              timer: 1000
            }).then(() => {
              window.location.href = `${window.location.origin}/post/{{post.id_post}}`
            })
          })
      }
      
      });
      }

      function smallMore(el) {
        edit_comment_val = el.getAttribute('comment');
        id_comment_val = el.getAttribute('id_post');
        Swal.fire({
        position: 'top',
        showCancelButton: false,
        showConfirmButton: false,
        html:`   <div class="more-menu">
          <p style="color: red;" onclick="delete_post_comment(${id_comment_val})">Удалить комментарий</p>
          <p onclick="edit_post_comment()">Редактировать комментарий</p>
          <p onclick="close_menu()" style="border-bottom: none;">Отмена</p>
        </div>`,   
      })
      }

      function ownerSmallMore(el) {
        id_comment_val = el.getAttribute('id_post');
        Swal.fire({
        position: 'top',
        showCancelButton: false,
        showConfirmButton: false,
        html:`   <div class="more-menu">
          <p style="color: red;" onclick="delete_post_comment(${id_comment_val})">Удалить комментарий</p>
          <p onclick="close_menu()" style="border-bottom: none;">Отмена</p>
        </div>`,   
      })
      }
    </script>

    
<script>
  function favorite (id_post) {
  const hide_like = '{{favorite}}'
  let word_like = 'добавлена в избранное'
  if (hide_like == 'True') word_like = 'удалена из избранного '
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    fetch(`${window.location.origin}/post/add-favorite/${id_post}/`, {
     method: "post",
     headers: {
       'Accept': 'application/json',
       'Content-Type': 'application/json',
       'X-CSRFToken': csrftoken,
     },
   }).then(response => response)
     .then(result => { 
       Swal.fire({
         position: 'top',
         icon: 'success',
         title: `Запись была ${word_like}`,
         showConfirmButton: false,
         timer: 1000
       }).then(() => {
         window.location.href = `${window.location.origin}/post/${id_post}/`
       })
     })
  }
</script>


    {%if user.owner%}
    <script>
    function deletePost(id_img, username) {
      Swal.fire({
      position: 'top',
      icon: 'warning',
      title: 'Вы действительно хотите удалить пост?',
      confirmButtonText: 'Да',
      showCancelButton: true,
      cancelButtonText: 'Нет',
      confirmButtonColor: '#ff3535',
      cancelButtonColor: '#00cc00',
    }).then((result) => {
     
      if (result.isConfirmed) {
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        fetch(`${window.location.origin}/post/delete/${id_img}/`, {
          method: "post",
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
          },
        }).then(response => response)
          .then(result => { 
            Swal.fire({
              position: 'top',
              icon: 'success',
              title: 'Пост был удален',
              showConfirmButton: false,
              timer: 1000
            }).then(() => {
              window.location.href = `${window.location.origin}/user/${username}`
            })
          })
      }
      
      });
    }
    
    function hide_like(id_post) {
      const hide_like = '{{post.hide_like}}'
      let word_like = 'были скрыты'
      if (hide_like == 'True') word_like = 'будут показаны'
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        fetch(`${window.location.origin}/post/hide-like/${id_post}/`, {
         method: "post",
         headers: {
           'Accept': 'application/json',
           'Content-Type': 'application/json',
           'X-CSRFToken': csrftoken,
         },
       }).then(response => response)
         .then(result => { 
           Swal.fire({
             position: 'top',
             icon: 'success',
             title: `Отметки Нравится ${word_like}`,
             showConfirmButton: false,
             timer: 1000
           }).then(() => {
             window.location.href = `${window.location.origin}/post/${id_post}/`
           })
         })
    }
    
    function hide_comment(id_post) {
      const hide_comment = '{{post.hide_comment}}'
      let word_comment = 'были скрыты'
      if (hide_comment == 'True') word_comment = 'будут показаны'
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        fetch(`${window.location.origin}/post/hide-comment/${id_post}/`, {
         method: "post",
         headers: {
           'Accept': 'application/json',
           'Content-Type': 'application/json',
           'X-CSRFToken': csrftoken,
         },
       }).then(response => response)
         .then(result => { 
           Swal.fire({
             position: 'top',
             icon: 'success',
             title: `Комментарии ${word_comment}`,
             showConfirmButton: false,
             timer: 1000
           }).then(() => {
             window.location.href = `${window.location.origin}/post/${id_post}/`
           })
         })
    }
    
    function edit_visibility(id_post) {
      Swal.fire({
      position: 'top',
      icon: 'warning',
      title: 'Выберете новую область видимости',
      html:`   <div class="more-menu">
        <select name="new-visibility" id="new-visibility" class="new-visibility">
          <option value="all">Открытый доступ</option>
          <option value="close_friend">Для близких друзей</option>
          <option value="follower">Для подписчиков</option>
          <option value="link">По ссылке</option>
          <option value="nobody">Архивировать запись</option>
        </select>
      </div>`, 
      confirmButtonText: 'Сохранить',
    }).then((result) => {
     if (result.isConfirmed) {
       const new_visibility = document.getElementById('new-visibility').value
       const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
       fetch(`${window.location.origin}/post/edit-visibility/${id_post}/`, {
         method: "post",
         body: JSON.stringify({'visibility': new_visibility}),
         headers: {
           'Accept': 'application/json',
           'Content-Type': 'application/json',
           'X-CSRFToken': csrftoken,
         },
       }).then(response => response)
         .then(result => { 
           Swal.fire({
             position: 'top',
             icon: 'success',
             title: 'Область видимости была изменена',
             showConfirmButton: false,
             timer: 1000
           }).then(() => {
             window.location.href = `${window.location.origin}/post/${id_post}/`
           })
         })
     }
     
     });
    }
    
    </script>


    <script>
    function more() {
      const hide_like = '{{post.hide_like}}'
      const hide_comment = '{{post.hide_comment}}'
      let in_favorite = '{{favorite}}'
      in_favorite == 'True' ? in_favorite = 'Удалить из избранного' : in_favorite = 'Добавить в избранное'
      let word_like = 'Скрывать'
      let word_comment = 'Скрывать'
      if (hide_like == 'True') word_like = 'Показывать'
      if (hide_comment == 'True') word_comment = 'Показывать'
      Swal.fire({
        position: 'top',
        showCancelButton: false,
        showConfirmButton: false,
        html:`   <div class="more-menu">
      <p style="color: red;" onclick="deletePost('{{post.id_post}}', '{{user.username}}')">Удалить</p>
      <p onclick="copy()">Скопировать ссылку на пост</p>
      <p onclick="favorite('{{post.id_post}}')">${in_favorite}</p>
      <p onclick="edit_comment('{{post.comment|stringformat:"i"}}', '{{post.id_post}}')">Редактировать описание</p>
      <p onclick="hide_like('{{post.id_post}}')">${word_like} число отметок "Нравится"</p>
      <p onclick="hide_comment('{{post.id_post}}')">${word_comment} комментарии</p>
      <p onclick="edit_visibility('{{post.id_post}}')">Изменить область видимости поста</p>
      <p onclick="close_menu()" style="border-bottom: none;">Отмена</p>
    </div>`, 
        
      })
      }
    </script>
    {%else%}
    <script>
      function more() {
        let in_favorite = '{{favorite}}'
      in_favorite == 'True' ? in_favorite = 'Удалить из избранного' : in_favorite = 'Добавить в избранное'
        Swal.fire({
          position: 'top',
          showCancelButton: false,
          showConfirmButton: false,
          html:`   <div class="more-menu">
        <p onclick="copy()">Скопировать ссылку на пост</p>
        <p onclick="favorite('{{post.id_post}}')">${in_favorite}</p>
        <p onclick="close_menu()" style="border-bottom: none;">Отмена</p>
      </div>`, 
          
        })
        }
      </script>
    {%endif%}
 

    {% if messages %}
    {% for message in messages %}
  
    {% if message.tags == 'error' %}
      <script>
        Swal.fire({
          title: 'Ошибка!',
          text: '{{message}}',
          icon: 'error',
          confirmButtonText: 'Повторить попытку'
        })
      </script>
  {% endif %}
  
  {% if message.tags == 'success' %}
      <script>
        Swal.fire({
          title: 'Успешно',
          text: '{{message}}',
          icon: 'success',
          confirmButtonText: 'Продолжить'
        })
      </script>
  {% endif %}
  
    {% endfor %}
  {% endif %}
  

  </body>
</html>