<!DOCTYPE html>
<html lang="ru">
  {% load static%}
  <head>
    <meta charset="utf-8" />
    <title>Instyle</title>
    <link rel="stylesheet" href="{% static "css/post-img.css" %}" />
    <link rel="shortcut icon" type="image/x-icon"  href="{% static "img/system/title-logo.png" %}" />
  </head>
  <body>
    <header>
      <section>
        <a href="/"><p class="logo-name">Instyle</p></a>
        <div class="header-icons">
          <a href="/"><img src="{% static "img/system/home-empty.svg" %}" alt="Главная страница" title="Главная страница"></a>
          <a href="/chat"><img src="{% static "img/system/chat-empty.svg" %}" alt="Мессенджер" title="Мессенджер"></a>
          <a href="/post"><img src="{% static "img/system/add-empty.svg" %}" alt="Добавить фотографию" title="Добавить фотографию"></a>
          <a href="/recommendation"><img src="{% static "img/system/compass-empty.svg" %}" alt="Рекомендуемое" title="Рекомендуемое"></a>
          <a href="/notification"><img src="{% static "img/system/notification-empty.svg" %}" alt="Уведомления" title="Уведомления"></a>
          <a href="/user/{{user.username}}">
            {%if user.avatar%}
            <img src="{% static 'img/small/avatar/{{user.id}}.png' %}" alt="{{user.name_lastname}}" title="{{user.name_lastname}}" class="user-avatar" id="upper-avatar">
            {%else%}
            <img src="{% static 'img/small/avatar/standard.png' %}" alt="{{user.name_lastname}}" title="{{user.name_lastname}}" class="user-avatar" id="upper-avatar">
            {%endif%}
        </a></div>
      </section>
    </header>
    <div id="particles-js">
    
    <section class="main-section" id="one-section">
      <div class="photo-section">
        <a href="/user/{{post.user.username}}" class="owner-block">

          {%if post.user.avatar%}
          <img src="{% static 'img/small/avatar/{{post.user.id}}.png' %}" alt="{{post.user.name_lastname}}" title="{{post.user.name_lastname}}" class="owner-avatar">
          {%else%}
          <img src="{% static 'img/small/avatar/standard.png' %}" alt="{{post.user.name_lastname}}" title="{{post.user.name_lastname}}" class="owner-avatar">
          {%endif%}
          <p class="owner-username">{{post.user.username}}</p>        
        </a>

        {%if post.mp4%}
          <video class="post-pic" controls="controls">
            <source src="{% static 'img/video/{{post.user.id}}/{{post.id_post}}.mp4' %}" type='video/mp4;'>
          </video>
        {%else%}
          <img src="/static/img/big/post/{{post.user.id}}/{{post.id_post}}.jpg" class="post-pic">
        {%endif%}
      </div>

      <div class="under-post-buttons">
        {%if user.post_interaction.like%}
            <img src="{% static 'img/system/liked.svg' %}" title="Нравится" class="like" onclick="like(this, '{{post.id_post}}')">
          {%else%}
            <img src="{% static 'img/system/notification-empty.svg' %}" title="Нравится" class="like" onclick="like(this, '{{post.id_post}}')">
          {%endif%}
          <img src="{% static 'img/system/copy.svg' %}" title="Скопировать ссылку" class="copy" id="copy">
          {%if user.owner%}
           <img src="{% static 'img/system/delete.svg' %}" title="Удалить пост" class="delete" onclick="deletePost('{{post.id_post}}', '{{user.username}}')">
          {%endif%}
        </div>
        <div class="under-post-likes">
          <p class="comment-text"><span style="font-weight: 500;" id="likes_{{post.id_post}}" likes="{{post.interaction.like_count}}" >Отметок нравится: {{post.interaction.like_count}}</span></p>
        </div>
           

       <div class="comments">
          {%if post.comment%}<p class="comment-text"><a href="/user/{{this.user.username}}"><span style="font-weight: 500;">{{post.user.username}}:</span></a> {{post.comment}}</p>{%endif%}
        </div>
    </section>

    </div>  

    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static "js/particles.js" %}"></script>
    <script src="{% static "js/particles-start.js" %}"></script>
    {% csrf_token %}
    <script>
      function like (el, id_img) {
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        fetch(`${window.location.origin}/post/like/${id_img}/`, {
          method: "post",
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
          },
        });
        const count = document.getElementById(`likes_${id_img}`);

        if (el.src.indexOf('notification') > -1) {
          el.src = "/static/img/system/liked.svg";
          count.attributes.likes.value = ++count.attributes.likes.value;
        }
        else {
          count.attributes.likes.value = --count.attributes.likes.value;
          el.src = "/static/img/system/notification-empty.svg";
        }
        count.innerHTML = `Отметок нравится: ${count.attributes.likes.value}`;
      }

      const copy = document.getElementById('copy')

      copy.onclick = () => {
        navigator.clipboard.writeText(window.location.href)
          .then(() => {
             Swal.fire({
              position: 'top',
              icon: 'success',
              title: 'Ссылка на пост была скопирована',
              showConfirmButton: false,
              timer: 1000
            })
          })
          .catch(err => {
              Swal.fire({
                position: 'top',
                icon: 'error',
                title: 'Упс, что-то пошло не по плану. Сообщите об этом нам',
                showConfirmButton: false,
                timer: 2000
              })
          });
      }
    </script>

    {%if user.owner%}
    <script>
    function deletePost(id_img, username) {
      Swal.fire({
      position: 'top',
      icon: 'warning',
      title: 'Вы действительно хотите удалить пост?',
      confirmButtonText: 'Да',
      showCancelButton: true,
      cancelButtonText: 'Нет',
      confirmButtonColor: '#ff3535',
      cancelButtonColor: '#00cc00',
    }).then((result) => {
     
      if (result.isConfirmed) {
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        fetch(`${window.location.origin}/post/delete/${id_img}/`, {
          method: "post",
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
          },
        }).then(response => response)
          .then(result => { 
            Swal.fire({
              position: 'top',
              icon: 'success',
              title: 'Пост был удален',
              showConfirmButton: false,
              timer: 1000
            }).then(() => {
              window.location.href = `${window.location.origin}/user/${username}`
            })
          })
      }
      
      });
    }
    </script>
    {%endif%}
  </body>
</html>