<style>
  @import 'https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:wght@400;500&display=swap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fafafa;
    align-items: center;
    align-content: center;
    font-family: 'Montserrat';
    overflow: hidden;
}
</style>

{% csrf_token %}

<script src='/static/js/sweetalert2.all.min.js'></script>
<script>


    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    fetch(`${window.location.origin}/post/get_vk_photos/`, {
        method: "post",
        body: window.location.hash,
        headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken,
        },
    })
        Swal.fire({
        title: 'Загрузка фотографий',
        text: 'Загрузка фотографий была начата. Скоро все фотографии будут отображены на Вашей странице',
        icon: 'success',
        confirmButtonText: 'Продолжить'
      }).then((result) => {
        window.location.href = '/settings'
      })
</script>