<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>Регистрация • Instyle</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/signup.css" %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/system/title-logo.png" %}" />
  </head>
  <body>

    <div id="particles-js"></div>
    <section>
      <div class="circle"></div>
      <p class="logo-name">Instyle</p>
      <form action="/signup/create/" method="post">
        {% csrf_token %}
        <input type="email" name="email" value="{{user.email}}" placeholder="Эл. адрес" id="email" required>
        <input type="text" name="name_lastname" value="{{user.name_lastname}}" placeholder="Имя и фамилия" id="name_lastname" required>
        <input type="text" name="username" value="{{user.username}}" placeholder="Имя пользователя" id="username" required>
        <input type="password" name="password" placeholder="Пароль" id="password" required>
        <button>Зарегистрироваться</button>
      </form>
      <p class="havent-account">Уже есть аккаунт? <a href="/login">Войти</a></p>
    </section>
  </div>

    <script src="{% static "js/particles.js" %}"></script>
    <script src="{% static "js/particles-start.js" %}"></script>
  {% if err %}
  <script src="{% static "js/sweetalert2.all.min.js" %}"></script>
    <script>
      document.getElementById('email').value = '{{user.email}}';
      document.getElementById('name_lastname').value = '{{user.name_lastname}}';
      document.getElementById('username').value = '{{user.username}}';
      document.getElementById('password').value = '{{user.password}}';

      Swal.fire({
        title: 'Ошибка!',
        text: '{{err}}',
        icon: 'error',
        confirmButtonText: 'Повторить попытку'
      })
    </script>
{% endif %}

{% if success %}
    <script src="{% static "js/sweetalert2.all.min.js" %}"></script>
    <script>
     Swal.fire({
        title: 'Регистрация',
        text: 'Для получения доступа к сервису, была выслана ссылка на эл. адрес для его подтверждения',
        icon: 'success',
        confirmButtonText: 'Продолжить'
      }).then((result) => {
        if (result.isConfirmed) window.location.href = '/login'
      })
    </script>
{% endif %}
  </body>
</html>